@using Quiz_Zone.Models
@model Category

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="title">@(Model.Name ?? "Kategoria")</div>

<div class="form">
    @using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(c => c.CategoryID)
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "CategoryID":
                case "IconData":
                case "IconMimeType":
                    break;

                default:
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "textBox" })
                    break;
            }
            @Html.ValidationMessage(property.PropertyName)
        }
        <input type="submit" value="Zapisz" class="editAction">
        @Html.ActionLink("Anuluj", "Categories", null, new { @class = "editAction" })
    }
</div>
