@model Quiz_Zone.Models.Account

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="form">
    <div class="title">Rejestracja</div>

    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.HiddenFor(a => a.AccountID)
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "AccountID":
                case "Scores":
                    break;

                default:
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "textBox" })
                    break;
            }
            @Html.ValidationMessage(property.PropertyName)
        }
        <input type="submit" value="Zarejestruj się" class="editAction">
        @Html.ActionLink("Anuluj", "Quizzes", "Main", null, new { @class = "editAction" })
    }
</div>

