<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/Style/Layout.css" />
    <link rel="stylesheet" href="~/Style/Quizzes.css" />
    <link rel="stylesheet" href="~/Style/Play.css" />
    <link rel="stylesheet" href="~/Style/Summary.css" />
    <link rel="stylesheet" href="~/Style/Edits.css" />
    <link rel="stylesheet" href="~/Style/Lists.css" />
    <link rel="stylesheet" href="~/Style/Validation.css" />
    <link rel="stylesheet" href="~/Style/Fontello/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <title>Quiz Zone</title>

    <script>

        $(document).ready(function () {
            let url = window.location.pathname;
            let modifiedUrl = url.replace(/[/Admin/](Questions|EditCategory|CreateCategory|CreateQuestion|EditQuestion)/i, '/Categories');

            $('a[href="' + modifiedUrl + '"] > .option').addClass('optionActive');

            if (url == '/Main/Quizzes') {
                $('main').css('overflow-y', 'scroll');
            }

            $('tbody').scroll(function () {
                if ($('tbody').scrollTop() + $('tbody').prop('offsetHeight') >= $('tbody').prop('scrollHeight') - 1) {
                    $('tbody').addClass('bottomScrollbar');
                }
                else {
                    $('tbody').removeClass('bottomScrollbar');
                }
            });
        });

    </script>
</head>
<body>
    <aside>
        @if (Html.Action("GetAccountLogin", "Account").ToString() == "")
        {
            <div id="accountLogging">
                @Html.ActionLink("Zaloguj się", "LogIn", "Account", null, new { @class = "accountOption" })
                @Html.ActionLink("Zarejestruj się", "SignIn", "Account", null, new { @class = "accountOption" })
            </div>
        }
        else
        {
            <div id="accountInfo">
                <img src="~/person.png" alt="profile" />
                <div id="accountName">
                    @Html.Action("GetAccountLogin", "Account")  
                    @Html.ActionLink(" ", "LogOut", "Account", null, new { @class = "fa fa-sign-out", title = "Wyloguj się" })
                </div>
            </div>
        }
            
        <nav>
            <div class="legend">Main</div>
            <div class="option">
                <i class="icon-home"></i>
                <div class="optionContent" style="line-height: 44px;">Start</div>
            </div>
            <a href="@Url.Action("Quizzes", "Main")">
                <div class="option">
                    <i class="icon-quizzes"></i>
                    <div class="optionContent">Quizy</div>
                </div>
            </a>
            <div class="option">
                <i class="icon-ranking"></i>
                <div class="optionContent">Ranking</div>
            </div>
            <div class="option">
                <i class="icon-info"></i>
                <div class="optionContent">Informacje</div>
            </div>
        </nav>
        <nav>
            <div class="legend">Admin</div>
            <a href="@Url.Action("Accounts", "Admin")">
                <div class="option">
                    <i class="icon-users"></i>
                    <div class="optionContent" style="line-height: 44px;">Użytkownicy</div>
                </div>
            </a>
            <a href="@Url.Action("Categories", "Admin")">
                <div class="option">
                    <i class="icon-edit-questions"></i>
                    <div class="optionContent">Pytania</div>
                </div>
            </a>
        </nav>
    </aside>
    <main>
        @RenderBody()
    </main>
</body>
</html>