@using Quiz_Zone.Models
@model IEnumerable<Question>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    @foreach(var question in Model)
    {
        <h1>@question.Category</h1>
        <h2>@question.Content</h2>
        <ul>
            <li>@question.AnswerA</li>
            <li>@question.AnswerB</li>
            <li>@question.AnswerC</li>
            <li>@question.AnswerD</li>
        </ul>
        <hr />
    }
</body>
</html>
