@model IEnumerable<KeyValuePair<string, int>>

@{
    Layout = "~/Views/_Layout.cshtml";

    int position = 1;    
}

<div class="form">
    <div class="title">Ranking</div>
    <div class="subtitle"> @ViewBag.CurrentCategoryName </div>

    <div id="select">
        <div id="selectButton">
            Zmień kategorię
        </div>
        <div id="options">
            @foreach (var category in ViewBag.Categories)
            {
                <a href="@Url.Action("Ranking", "Main", new { category.CategoryID })"> @category.Name </a>
            }
        </div>
    </div>

    <table class="categories">
        <thead>
            <tr>
                <th>Miejsce</th>
                <th>Nazwa użytkownika</th>
                <th>Ilość punktów</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td> @position </td>
                    <td>@account.Key</td>
                    <td>
                        @account.Value
                    </td>
                </tr>
                position++;
            }
        </tbody>
    </table>
</div>

<script>

    var select = document.getElementById('select');
    var options = document.getElementById('options');
    var table = document.getElementsByClassName('categories');

    select.onmouseover = function () {
        options.style.display = 'block';
        table[0].style.filter = 'blur(2px)';
    }

    select.onmouseleave = function () {
        options.style.display = 'none';
        table[0].style.filter = 'none';
    }

</script>